/* HomePage.css */

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/homePage.jpg");
  background-size: cover;
  background-position: center;
}

.login_Container {
  background-color: rgba(66, 65, 65, 0.3);
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 400px;
  margin-top: 8rem;
}
.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallInput {
  padding: 15px;
  margin-bottom: 15px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitBtn {
  padding: 7px;
  width: 60%;
  background-color: #81d383;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #2a892f;
}

.smallP {
  font-size: 1rem;
   display: flex;
  flex-direction: column;
  align-items: center;
}

.linkSpan {
  color: rgb(91, 31, 31);
  text-decoration: underline solid;
  cursor: pointer;
}
