.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 6rem;
}
.checkboxInput.active {
  background-color: #00ff00; /* Set the color you want for the active state */
  color: #000; /* Set the text color for the active state */
  /* Add any other styles for the active state */
}

.addRoom {
  padding: 16px;
  margin: 10px;
  width: fit-content;
  background-color: rgba(143, 140, 136, 0.8);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addRoom input {
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

.addRoom input:focus {
  outline: none;
  border-color: #ededed;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.maping_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: rgba(143, 140, 136, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 20px;
}

.rooms_Container > div {
  margin-bottom: 12px;
}

.button-room-form {
  overflow-y: scroll;
  height: 14rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.checkboxInput {
  color: #fff;
  width: 8rem;
  margin: 2px;
  font-size: small;
}
.classRoom{
  margin: 4px;
}
.createOption{
  color: #ffffff;
  width: fit-content;
  margin: 3px;
  font-size: medium;
}
.createOption:focus {
  outline: none;
}

/* Optional: Style for scroll bar */
.button-room-form::-webkit-scrollbar {
  width: 8px;
}

.button-room-form::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 4px;
}

.button-room-form::-webkit-scrollbar-track {
  background-color: rgba(143, 140, 136, 0.5);
  border-radius: 8px;
}
.maping_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.classRoom {
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
}

.classRoom button {
  margin-bottom: 5px; /* Add some spacing between buttons */
}

.classDetails {
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Add background color if needed */
  border: 1px solid #ccc; /* Add border if needed */
  padding: 5px;
  z-index: 1; /* Ensure it appears above other elements */
}

.classBtn {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.classBtn:hover {
  background: #c4e201;
}

.classBtn > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.classBtn:hover svg {
  transform: translateX(5px);
}

.classBtn:active {
  transform: scale(0.95);
}
